.details-page-main-container {
    position: relative;
    width: 1200px;
    height: 1610px;
    margin: 0 auto;
    padding-top: 15px;
}

.details-page-history-path {
    position: relative;
    background-color: #3a3c3e;
    width: 820px;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0 0 4px #000000;
}

.details-page-history-path p {
    padding: 8px 0 3px 10px;
    margin: 0;
    display: flex;
    align-items: center;
}

.details-page-history-path a {
    text-decoration: none;
    color: white;
}

.details-page-history-path a:hover {
    color: crimson;
}

.add-new-episode-button {
    position: absolute;
    top: 4px;
    right: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all, .2s ease-in-out;
  }
  
  .add-new-episode-button:hover {
    transform: scale(1.1);
  }

/* /////////////////////////////////////////////////// END HISTORY PATH STYLE */



@media screen and (max-width: 1200px) {
    .details-page-main-container{
        width: 1000px;
        height: 1610px;
        margin: 0 auto;
        padding-top: 5px;
    }
    .details-page-history-path {
        width: 820px;
        height: 40px;
        margin: 0 auto;
    }
    
  }

  @media screen and (max-width: 1000px) {
    .details-page-main-container{
        width: 820px;
        height: max-content;
        margin: 0 auto;
    }
    .details-page-history-path {
        width: 620px;
        height: 40px;
        margin: 0 auto;
    }
  }

  @media screen and (max-width: 820px) {
    .details-page-main-container{
        width: 620px;
        height: 1610px;
        margin: 0 auto;
    }
    .details-page-history-path {
        width: 600px;
        height: 40px;
        margin: 0 auto;
    }
  }

  @media screen and (max-width: 620px) {
    
    .details-page-main-container{
        width: 470px;
        height: max-content;
        margin: 0 auto;
    }
    .details-page-history-path {
        position: relative;
        width: 460px;
        height: 40px;
        margin: 0 auto;
    }
  }

  @media screen and (max-width: 470px) {
    
    .details-page-main-container{
        width: 350px;
        height: max-content;
        margin: 0 auto;
    }
    .details-page-history-path {
        position: relative;
        width: 330px;
        height: max-content;
        margin: 20px auto;
    }
  }