.send-money-bar {
    background-color: #3a3c3e;
    height: 80px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 10px #000000;
  }
  
  .revolut-card {
    width: 90px;
    height: 55px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 20%;
  }
  
  .paypal-card {
    width: 90px;
    height: 55px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 20%;
  }